@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #1d2634;
    --color-foreground: #9e9ea4;
}

body{
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Light theme style*/
body {
    --color-background: #dadada;
    --color-foreground: #1f2023;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.t-card-inner {
  @apply flex items-center justify-between mb-4
}

.t-card-value {
  @apply text-2xl font-bold
}